.raleway-primary {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
    margin: 0;
    background-color: #f6f6fd;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav h1 {
    font-size: 34px;
    font-weight: bold;
}

/* shared style */
.custom-button {
    padding: 12px 25px;
    border-radius: 10px;
    border: none;
    background-color: #4E47FF;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.logo-color {
    color: #4E47FF;
    font-weight: bolder;
}

/* banner styles */
.header {
    background-image: url(../Assets/Hero-bg.png);
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.banner {
    text-align: center;
    max-width: 840px;
    margin: 150px auto;
}

.banner h1 {
    font-size: 60px;
}

/* section one styles */
.sec-one {
    display: flex;
    gap: 80px;
}

.sec-one-content h3 {
    font-size: 42px;
}

.sec-one-content p {
    font-size: 24px;
}

.sec-one img {
    border-radius: 50px;
}

main {
    max-width: 1140px;
    margin: 150px auto;
}


.sec-two h3 {
    font-size: 42px;
    text-align: center;
    margin-bottom: 0px;
    padding-top: 20px;
}

.result {
    display: flex;
    justify-content: space-around;
}

.result h1 {
    font-size: 80px;
    color: #4E47FF;
    margin-bottom: 0px;
    margin-top: 30px;
}

.result p {
    text-align: center;
    margin-bottom: 30px;
}

.sec-two {
    background-color: #d0cffd;
    margin-top: 100px;
    border-radius: 20px;
}

.secondary-dark {
    color: #4c4c4c;
}

.sec-three h3 {
    font-size: 42px;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 150px;
}

.sec-three-content {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 1px 8px #0000001a;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.992);
}

.card h4 {
    font-size: 20px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile img {
    border-radius: 50%;
}

.profile h5 {
    margin-bottom: 0px;
}

.profile p {
    margin-top: 5px;
}

.sec-four {
    display: flex;
    margin-top: 150px;
    align-items: center;
}

.contact-left {
    width: 50%;
}

.contact-left h2 {
    font-size: 90px;
}

.contact-right {
    width: 50%;
}

.sec-four input[type="text"], .sec-four input[type="email"], .sec-four textarea {
    height: 64px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    display: block;
    width: 90%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: 1px solid rgb(189, 189, 189);
}

.contact-right label {
    font-weight: bold;
}

.contact-right input {
    margin-top: 15px;
}

.contact-right textarea {
    margin-top: 15px;
}

.custom-button-two {
    width: 97%;
    background-color: #4E47FF;
    border-radius: 10px;
    padding: 15px 0px 15px 0px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
}

footer {
    text-align: center;
    background-color: white
}

footer h1 {
    font-size: 90px;
    margin-bottom: 10px;
    
}

footer p {
    max-width: 500px;
    margin: 20px auto;
    color: #4c4c4c;
}

.footer-links {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 50px;
}

.footer-links a {
    text-decoration: none;
    color: #686868;
}

.profile-detail {
    color: #686868;
}